.wrapper{position: relative;height:300px;}
.banner{overflow: hidden;}
.imgList{z-index: 10;}
.imgList li{display: none;height:300px;}
.imgList .imgOn{display: inline;}
.infoList li{display: none;}
.indexList{position: absolute;right: 30px;bottom:14px;z-index: 30;}
.indexList li{float: left;margin-right: 5px;cursor: pointer;width:12px;height:12px;border-radius:6px;background: #fff;}
.indexList .indexOn{width:20px;}
.imgList img{width:100%;vertical-align: bottom}
.imgList2 li{display: none;}
.imgList2 li.imgOn{display: inline;}
.imgList2 img{width:1200px;vertical-align: bottom}