*{margin:0;padding:0;}
ul,ol{list-style-type: none;  }
table{border-collapse:collapse;border-spacing:0}
img{border:0}
a{text-decoration: none}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
body{min-width:1000px;}
img{border:none;}
.left-frame{
    width:40px;
    position: absolute;
    left:1px;
    bottom:1px;
}
.right-frame{
    width:40px;
    position: absolute;
    right:1px;
    bottom:1px;
    filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}
.more{
    background:url('../img/more.png') left center no-repeat;
    background-size:15px;
    padding-left:20px;
    width:34px;
    height:49px;
    line-height:49px;
    float:right;
    margin-right:5px;
    font-size:15px;
    color:#000;
}
/*****************************导航栏样式****************************/
.top{
    height:55px;
    background-color:#1A6B44;
    border-bottom: 6px solid #e3cf52;
}
.head_nav{
    height:55px;
    border-bottom:2px solid #A07227;
}
.head_nav .main_nav{
    width: 1000px;
    margin:0 auto;
    position:relative;
    overflow: hidden;
}
.head_nav .main_nav li{
    float:left;
    width:164px;
    height:55px;
    text-align: center;
    line-height: 55px;
    cursor: pointer;
    border:1px solid transparent;
}
.head_nav .main_nav li:hover{
    background:-webkit-linear-gradient(#E0C56A,#B38345); /* Safari 5.1 - 6.0 */ /* Opera 11.1 - 12.0 */ /* Firefox 3.6 - 15 */
    background:-webkit-gradient(linear,left top,left bottom,from(#E0C56A),to(#B38345));
    background:linear-gradient(#E0C56A,#B38345); /* 标准的语法 */
    border:1px solid #A07227;
}
.head_nav .main_nav li:hover a{
    color:#e0c56a;
}
.head_nav .main_nav .active a{
    color:#e0c56a;
}
.head_nav .main_nav li a{
    color:#fff;
    height:65px;
    font-size:20px;
    line-height:60px;
    width:166px;
    position:relative;
    display: block;
}
/*******************************海报背景************************************/
.section{
    width:100%;
    position: relative;
}
.video-box{
    background: url('../img/bg-video.jpg') no-repeat;
    background-size:100% ;
}
#my-video{
    position:relative;
    z-index:6;
    width:100%;
}
 .duration{
    position:relative;
    z-index:7;
    width:100%;
    margin-top:-55px;
    background:url('../img/bg-duration.png') center no-repeat;
    background-size: 1920px 100px;
    height:100px;
}
.main .section{
    background: url('../img/bg-main.jpg') top center no-repeat;
}
/************************************游戏资讯************************************/
.message{
    width:1000px;
    margin:0 auto;
    height:600px;
}
.m-tit{
    background: url('../img/title-mess.png') no-repeat bottom;
    width:908px;
    height:90px;
    margin:0 auto;
}
.bg1_po{
    position:relative;
    margin:0 auto;
    top:20%;
}
.bg1_po:after{
    content:"";
    display:table;
    clear:both;
}
.download{
    background: url('../img/border-down.png') 0 0 no-repeat;
    background-size:199px;
    width:199px;
    height:313px;
    float:left;
    background-color:#1D9051;
}
.download .code{
    width:140px;
    margin:0 auto;
    margin-top:28px;
}
.download .code img{
    width:100%;
    vertical-align: bottom;
}
.down{
    position:relative;
    margin:20px 29px 0;
    width:181px;
}
.down a{
    display:block;
    background: url('../img/bg-down.png') center no-repeat;
    background-size: 141px;
    width:140px;
    height:40px;
    line-height: 40px;
    text-align: center;
    color:#2F1F0C;
    margin-top:10px;
    font-size:20px;
}
.lunbo{
    width:470px;
    height:311px;
    background: url('../img/border-carou.png') center no-repeat;
    background-size:470px;
    position:relative;
    margin:auto 10px;
    float:left;
    overflow:hidden;
    background-color: #fff;
}
#indexs{
    position:absolute;
    bottom:30px;
    right:40px;
    width:40px;
    height:12px;
}
#indexs li{
    cursor: pointer;
    margin-right:5px;
    float:left;
    width:12px;
    height:12px;
    border-radius:50%;
    background:#B6B6B6;
}
.news_swap{
    width:308px;
    float:left;
    height:313px;
    border:1px solid #00561F;
}
.news_tit{
    height:49px;
}
.kuang{
    background:url('../img/head-news.png') center no-repeat;
}
.news_tit h1{
    font-family: "Microsoft Yahei";
    color:#fff;
    font-size:18px;
    padding:12px;
    float:left;
}
.news_tab{
    background-color:#f8f8f8;
    height:262px;
    font-family: "Microsoft Yahei";
}
.news_tab .hd{
    height:40px;
    font-size:16px;
}
.news_tab .hd ul{
    position:relative;
    margin:0 auto;
}
.news_tab .hd ul li{
    float:left;
    width:77px;
    border-bottom:1px solid #e6c082;
}
.news_tab .hd ul li.on{
    height:39px;
    border-bottom:2px solid #e6c082;
}
.news_tab .hd .on a{
    color:#e6c082;
}
.news_tab .hd a{
    display:block;
    height:40px;
    line-height:40px;
    color:#000;
    text-align: center;
    text-decoration: none;
}
.news_tab .bd{
    height:226px;
}
.news_tab .tab-panel{
    width:307px;
    font-family: "Microsoft Yahei";
    display:none;
}
.news_tab .dis{
    display:block;
}
.news_tab .tab-panel ul{
    width:307px;
    height:213px;
    padding-top:13px;
}
.news_tab .tab-panel ul li{
    width:280px;
    line-height:30px;
    margin-left:15px;
    font-size:14px;
}
.news_tab .tab-panel ul li a:hover p span{
    color:#878787;
}
.news_tab .tab-panel ul li p span{
    width:220px;
    display:block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color:#000;
}
.news_tab .tab-panel ul li p i{
    margin-top:-30px;
    color:#878787;
    float:right;
    font-style: normal;
}
/*************游戏百科***************/
.baike{
    width:1000px;
    margin:0 auto;
    height:750px;
}
.b-tit{
    background: url('../img/title-baike.png') no-repeat bottom;
    width:908px;
    height:90px;
    margin:0 auto;
}
.bg2_po,.bg3_po{
    position:relative;
    margin:0 auto;
    top:20%;
}
.skill_swap,.video_swap{
    width:649px;
    border:1px solid #00561F;
    height:400px;
    font-family: "Microsoft Yahei";
    float:left;
    margin-right:10px;
    background-color: #f8f8f8;
    position: relative;
}
.jiqiao,.saishi{
    background: url('../img/head-skill.png')  0 -24px no-repeat;
}
.skill_swap .news_tit h1{
    padding-left:20px;
}
.ad_list{
    position:relative;
    margin: 0 7px 10px;
    width:650px;
    height:140px;
    float:left;
    top:5px;
    z-index:22;
}
.ad_list ul li{
    float:left;
    margin:4px;
}
.ad_list ul li img{
    border:.5px solid #1f8e63;
}
.activ_swap,.schedule_swap{
    width:335px;
    float:left;
    height:400px;
    border:1px solid #00561F;
    background: #fff;
    position: relative;
}
.huodong,.ricehng{
    background:url('../img/head-activ.png') 0 -16px no-repeat;
}
/***************游戏视频***************/
.shipin{
    width:1000px;
    margin:0 auto;
    height:750px;
}

.v-tit{
    background: url('../img/title-video.png') no-repeat bottom;
    width:908px;
    height:90px;
    margin:0 auto;
}
/*新闻子页面*/
.z1000{
    width:1000px;
    position:relative;
    margin:0 auto;
}
.cont{
    width:1000px;
    height:1050px;
    position: relative;
    margin:65px auto 0;
    background-color:#fff;
    border:1px solid #29744b;
}
/*footer*/
.footer{
    background:#171717;
}
.section-ctn{
    width:1000px;
    margin:0 auto;
    padding:35px 0;
}
.service-list{
    text-align: center;
}
.service-list li{
    display:inline-block;
    zoom:1;
    vertical-align: top;
    width:180px;
    margin:0 30px;
}
.service-list li span{
    width:46px;
    height:46px;
    display:inline-block;
    background: url('../img/sprite.png') no-repeat;
}
.service-list li span.weixin{
    background-position: -46px 0;
}
.service-list li span.aboutUs{
    background-position: 0 -46px;
}
.service-list li span.kefu{
    background-position: -46px -46px;
}
.service-list h4{
    font-size: 18px;
    color:#e1e1e1;
    font-weight:normal;
    margin-top:15px;
}
.service-list p{
    font-size:12px;
    color:#6a6a6a;
    margin-top:10px;
    line-height:18px;
}