.header {
    height: 42px;
    background: rgba(0,0,0,.4);
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
}

img {
    vertical-align: bottom;
}

.header .logo {
    float: left;
    width: 36px;
    height: 36px;
    margin: 3px 5px 0 8px;
    position: relative;
}

.header .logo img {
    width: 100%;
}
.header .info{
    display: inline-block;
}
.header .slogan {
    display: inline-block;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    height: 18px;
    line-height: 18px;
    padding-top: 5px;
}
.header .introduce{
    color:#E5E081;
    font-size: 12px;
}

.header .down-imm {
    float: right;
    width: 82px;
    text-align: center;
    line-height: 25px;

    height: 28px;
    margin: 10px 5px 0 0;
    color: #603A08;
    font-size: 14px;
    font-weight: bold;


}
.light-box{
    position: absolute;
    top:10px;
    left:233px;
    width:84px;
    height: 28px;
    background: url('/images/majiang_images/aperture.png') 0 -2px no-repeat;
    background-size: 82px auto;
    animation:light linear 4.5s infinite;
    -webkit-animation:light linear 4.5s infinite;
    z-index: 2;
}
@keyframes light{
    0%{
        opacity:0;
        transform: scale(0.9,0.9);
    }
    22%{
        opacity:1;
        transform: scale(0.9,0.9);
    }
    55%{
        opacity:0;
        transform: scale(1.2,1.4);
    }
    100%{
        opacity:0;
        transform: scale(0.9,0.9);
    }
}

@-webkit-keyframes light{
    0%{
        opacity:0;
        transform: scale(0.9,0.9);
    }
    22%{
        opacity:1;
        transform: scale(0.9,0.9);
    }
    55%{
        opacity:0;
        transform: scale(1.2,1.4);
    }
    100%{
        opacity:0;
        transform: scale(0.9,0.9);
    }
}
.white{
    position: absolute;
    top:12px;
    left:238px;
    width:72px;
    height: 23px;
    border-radius: 5px;
    animation:whiter linear 4.5s infinite;
    -webkit-animation:whiter linear 4.5s infinite;
    z-index: 2;
}
@keyframes whiter{
    0%{
        background: rgba(255,255,255,0);
    }
    33%{
        background: rgba(255,255,255,.7);
    }
    55%{
        background: rgba(255,255,255,0);
    }
    100%{
        background: rgba(255,255,255,0);
    }
}
@-webkit-keyframes whiter{
    0%{
        background: rgba(255,255,255,0);
    }
    33%{
        background: rgba(255,255,255,.7);
    }
    55%{
        background: rgba(255,255,255,0);
    }
    100%{
        background: rgba(255,255,255,0);
    }
}
.header .down-imm img{
    width:72px;
}
.body {
    width: 100%;
    background: url('/images/majiang_images/mobile-body.jpg') no-repeat;
    background-size: 100% auto;
    height:568px;
    position: relative;
}


.go-index {
    display: block;
    margin: 0 auto;
    width: 180px;
    height: 70px;
    line-height: 70px;
    background: url('/images/majiang_images/go-index.png') no-repeat;
    background-size: 180px auto;
    position: relative;
    top:88%;
    animation:stronger linear 3s infinite;
    -webkit-animation:stronger linear 3s infinite;
}
@keyframes stronger{
    0%{
        transform: scale(1,1);
    }
    33%{
        transform: scale(1.1,1.1);
    }
    66%{
        transform: scale(1,1);
    }
    100%{
        transform: scale(1,1);
    }
}
@-webkit-keyframes stronger{
    0%{
        transform: scale(1,1);
    }
    33%{
        transform: scale(1.1,1.1);
    }
    66%{
        transform: scale(1,1);
    }
    100%{
        transform: scale(1,1);
    }
}
.star{
    position: absolute;
    background: url('/images/majiang_images/star.png') no-repeat;
    background-size: 30px 30px;
    width:30px;
    height:30px;
}
.star1{
    top:21px;
    left:9px;
    animation:star1 linear 8s infinite;
    -webkit-animation:star1 linear 8s infinite;
}
@keyframes star1{
    0%{
        transform: rotateZ(0deg) scale(0,0);
        opacity(0);
    }
    12%{
        transform: rotateZ(90deg) scale(1,1);
        opacity(1);
    }
    25%{
        transform: rotateZ(180deg) scale(0,0);
        opacity(0);
    }
    100%{
        transform: rotateZ(180deg) scale(0,0);
        opacity(0);
    }
}
@-webkit-keyframes star1{
    0%{
        transform: rotateZ(0deg) scale(0,0);
    opacity(0);
    }
    12%{
        transform: rotateZ(90deg) scale(1,1);
    opacity(1);
    }
    25%{
        transform: rotateZ(180deg) scale(0,0);
    opacity(0);
    }
    100%{
        transform: rotateZ(180deg) scale(0,0);
        opacity(0);
    }
}
.star2{
    top:-4px;
    left:72px;
    animation:star2 linear 8s infinite;
    -webkit-animation:star2 linear 8s infinite;
}
@keyframes star2{
    0%{
        transform: rotateZ(0deg) scale(0,0);
        opacity(0);
    }
    25%{
        transform: rotateZ(0deg) scale(0,0);
        opacity(0);
    }
    37%{
        transform: rotateZ(90deg) scale(1,1);
        opacity(1);
    }
    50%{
        transform: rotateZ(180deg) scale(0,0);
        opacity(0);
    }
    100%{
        transform: rotateZ(180deg) scale(0,0);
        opacity(0);
    }
}
@-webkit-keyframes star2{
    0%{
        transform: rotateZ(0deg) scale(0,0);
    opacity(0);
    }
    25%{
        transform: rotateZ(0deg) scale(0,0);
    opacity(0);
    }
    37%{
        transform: rotateZ(90deg) scale(1,1);
    opacity(1);
    }
    50%{
        transform: rotateZ(180deg) scale(0,0);
    opacity(0);
    }
    100%{
        transform: rotateZ(180deg) scale(0,0);
    opacity(0);
    }
}
.star3{
    top:31px;
    left:66px;
    animation:star3 linear 8s infinite;
    -webkit-animation:star3 linear 8s infinite;
}
@keyframes star3{
    0%{
        transform: rotateZ(0deg) scale(0,0);
        opacity(0);
    }
    50%{
        transform: rotateZ(0deg) scale(0,0);
        opacity(0);
    }
    62%{
        transform: rotateZ(90deg) scale(1,1);
        opacity(1);
    }
    75%{
        transform: rotateZ(180deg) scale(0,0);
        opacity(0);
    }
    100%{
        transform: rotateZ(180deg) scale(0,0);
        opacity(0);
    }
}
@-webkit-keyframes star3{
    0%{
        transform: rotateZ(0deg) scale(0,0);
        opacity(0);
    }
    50%{
        transform: rotateZ(0deg) scale(0,0);
        opacity(0);
    }
    62%{
        transform: rotateZ(90deg) scale(1,1);
        opacity(1);
    }
    75%{
        transform: rotateZ(180deg) scale(0,0);
        opacity(0);
    }
    100%{
        transform: rotateZ(180deg) scale(0,0);
        opacity(0);
    }
}
.star4{
    top:-1px;
    left:23px;
    animation:star4 linear 8s infinite;
    -webkit-animation:star4 linear 8s infinite;
}
@keyframes star4{
    0%{
        transform: rotateZ(0deg) scale(0,0);
        opacity(0);
    }

    75%{
        transform: rotateZ(0deg) scale(0,0);
        opacity(0);
    }
    87%{
        transform: rotateZ(90deg) scale(1,1);
        opacity(1);
    }
    100%{
        transform: rotateZ(180deg) scale(0,0);
        opacity(0);
    }
}
@-webkit-keyframes star4{
    0%{
        transform: rotateZ(0deg) scale(0,0);
        opacity(0);
    }

    75%{
        transform: rotateZ(0deg) scale(0,0);
        opacity(0);
    }
    87%{
        transform: rotateZ(90deg) scale(1,1);
        opacity(1);
    }
    100%{
        transform: rotateZ(180deg) scale(0,0);
        opacity(0);
    }
}
.eyes{
    position: absolute;
    width:15px;
    height:15px;
    top:27%;
    left:56%;
    background: url('/images/majiang_images/star.png') no-repeat;
    background-size: 15px 15px;
    animation:eyes linear 8s infinite;
    -webkit-animation:eyes linear 8s infinite;
}
@keyframes eyes{
    0%{
        transform: rotateZ(0deg) scale(0,0);
        opacity(0);
    }
    25%{
        transform: rotateZ(0deg) scale(0,0);
        opacity(0);
    }
    37%{
        transform: rotateZ(90deg) scale(1,1);
        opacity(1);
    }
    50%{
        transform: rotateZ(180deg) scale(0,0);
        opacity(0);
    }
    100%{
        transform: rotateZ(180deg) scale(0,0);
        opacity(0);
    }
}
@-webkit-keyframes eyes{
    0%{
        transform: rotateZ(0deg) scale(0,0);
        opacity(0);
    }
    25%{
        transform: rotateZ(0deg) scale(0,0);
        opacity(0);
    }
    37%{
        transform: rotateZ(90deg) scale(1,1);
        opacity(1);
    }
    50%{
        transform: rotateZ(180deg) scale(0,0);
        opacity(0);
    }
    100%{
        transform: rotateZ(180deg) scale(0,0);
        opacity(0);
    }
}
.dice{
    position: absolute;
    width:20px;
    height:20px;
    top:37%;
    left:7%;
}
.dice img{
    width: 100%;
}

.footer {
    height: 36px;
    background: #211E22;
}

.logo-mobile-footer {
    float: left;
    width: 90px;
    margin-top: 6px;
    margin-left: 5px;
}

    .logo-mobile-footer img {
        width: 100%;
    }

.mobile-copyright {
    float: right;
    font-size: 12px;
    -webkit-transform-origin-x: 0;
    -webkit-transform: scale(0.80);
    margin-right: -52px;
}

.copyright-police {
    color: #7c8cb4;
    font-size: 12px;
    background: url('/images/niuniu_images/ghs.png') no-repeat;
    background-size: 13px;
    padding-left: 15px;
}

.mobile-copyright > p {
    color: #7c8cb4;
}

    .mobile-copyright > p > a {
        color: #7c8cb4;
    }
