*{
    margin:0;
    padding:0;
}
body{
    font:12px/1.5 tahoma,"Microsoft YaHei",sans-serif;
    cursor: default;
    color:#000;
    min-width:1000px;
}
ol,ul{
    list-style:none;
}
a{
    text-decoration: none;
    color:#363636;
}


#main{
    width:100%;
    position:relative;
    background:url('/images/niuniu_images/gift_bg.jpg') center no-repeat;
    height:1840px;
}
.go_index{
    position: relative;
    width:1000px;
    margin:0 auto;
    height:880px;
}
.go_index a{
    position: absolute;
    left:45%;
    margin-left:-190px;
    top:265px;
    background: #2E93FD;
    border:4px solid #F0ED18;
    border-radius: 60px;
    width:380px;
    height:105px;
    text-align: center;
    color:#F0ED18;
    font-size:67px;
    font-weight:bold;
}
.get_gift{
    width:1000px;
    margin:0 auto;
    height:730px;
}
.get_gift h3{
    color:#FBFCFD;
    font-size:60px;
    text-align: center;
    margin-top:145px;
    padding-left:26px;
}
.get_gift h3 span{
    color:#F6F900;
}
.get_gift .c-list{
    margin-top:95px;
    padding-left:58px;
}
.get_gift .c-list li{
    float:left;
    width:207px;
    height:310px;
    margin:0 45px;
    background:url('/images/niuniu_images/gift-bg.png') center no-repeat ;
    position: relative;
}
.get_gift .c-list li img{
    position: absolute;
    top:50%;
    left:50%;
    width:50%;
}
.get_gift .c-list li:nth-child(1) img{
    margin:-28% 0 0 -27%;
}
.get_gift .c-list li:nth-child(2) img{
    margin:-12% 0 0 -25%;
}
.get_gift .c-list li:nth-child(3) img{
    margin:-28% 0 0 -25%;
}
.get_gift .c-list li p{
    font-size: 24px;
    font-weight:bold;
    color:#38608f;
    line-height:30px;
    text-align: center;
    margin-top:275px;
}
.get_gift .c-list li p strong{
    color:#e32d35;
}
#gift_now{
    position: absolute;
    bottom:150px;
    left:50%;
    margin-left:-194px;
    width:350px;
    height:111px;
    padding:22px 0 0 50px;
    background: url('/images/niuniu_images/get_icon.png') center no-repeat;
    color:#CB5700;
    font-size:50px;
    text-align: center;
    font-weight:bold;
    cursor: pointer;
}



/*ģ̬��¼��*/

#modal{
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background:rgba(170,170,170,.7);
    padding-top:100px;
    box-sizing: border-box;
    display:none;
}
.modal-dialog{
    position: relative;
    width:1000px;
    margin:0 auto;
    height:621px;


}
.modal-dialog h1{
    height:124px;
    position: relative;
    z-index: 4;
    text-align: center;
    color:#fff;
    font-family: "Simsun";
    font-size:40px;
    letter-spacing: 6px;
}
.modal-dialog .close{
    position: absolute;
    top:-23px;
    right:131px;
    width:48px;
    z-index: 5;
    height:45px;
    line-height:39px;
    text-align: center;
    font-size:36px;
    color:#fff;
    cursor: pointer;
}
.modal-dialog .close:hover{
    animation:gun linear 1s infinite;
    -webkit-animation:gun linear 1s infinite
}
@keyframes gun{
    0%{transform:rotateZ(0deg)}
    50%{transform:rotateZ(180deg)}
    100%{transform:rotateZ(360deg)}
}
@-webkit-keyframes gun{
    0%{transform:rotateZ(0deg)}
    50%{transform:rotateZ(180deg)}
    100%{transform:rotateZ(360deg)}
}
.modal-dialog .user{
    position: relative;
    width:650px;
    height: 250px;
    z-index: 3;
    float:left;
    margin-left:118px;
    margin-top:-148px;
    background-color: #b5c4df;
    padding:100px 50px 50px 50px;
    border-radius: 20px;
}
.modal-dialog div.user:before{
    content:"";
    display:table;
    clear:both
}
.modal-dialog .code_box{
    float:left;
    width:200px;
    margin:30px 0 0 90px;
}
.modal-dialog .code_box img{
    width:100%;
}
.modal-dialog .down-box{
    float:left;
    width:300px;
    margin:0 0 0 50px;
}
.modal-dialog .down-box a:first-child{
    background:url('/images/niuniu_images/IOS-icon.png') left top no-repeat;
}
.modal-dialog .down-box a{
    display:block;
    width:300px;
    height:51px;
    font-size:25px;
    border-radius:10px;
    margin-top:50px;
    margin-left:30px;
    text-align: center;
    color:#fff;
    font-weight:bold;
    background:url('/images/niuniu_images/Andriod-icon.png') left top no-repeat;
}
